In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('iata.csv')

In [27]:
df.head()

,name,coordinates,type,iso_country,municipality,iata_code
0,Aleknagik / New Airport,"59.2826004028, -158.617996216",medium_airport,US,Aleknagik,WKK
1,Honiara International Airport,"-9.4280004501343, 160.05499267578",medium_airport,SB,Honiara,HIR
2,Hongyuan Airport,"32.53154, 102.35224",medium_airport,CN,Aba,AHJ
3,Nauru International Airport,"-0.547458, 166.919006",medium_airport,NR,Yaren District,INU
4,Alxa Left Banner Bayanhot Airport,"38.74831, 105.58858",medium_airport,CN,Bayanhot,AXF

In [28]:
set(df['type'].unique())

{'large_airport', 'medium_airport'}

In [29]:
filtered_df = df[df['type'].isin(['medium_airport', 'large_airport'])]

In [30]:
## Keep only the columns we need

filtered_df = filtered_df[['name', 'coordinates', 'type', 'iso_country', 'municipality', 'iata_code']]

In [31]:
## Drop rows with missing values

filtered_df = filtered_df.dropna()

In [32]:
## Remove all with no iata code or iata code === 0

filtered_df = filtered_df[filtered_df['iata_code'] != '\\N']
filtered_df = filtered_df[filtered_df['iata_code'] != '0']

In [33]:
## Remove all duplicates

filtered_df = filtered_df.drop_duplicates(subset=['iata_code'])

In [34]:
filtered_df

,name,coordinates,type,iso_country,municipality,iata_code
0,Aleknagik / New Airport,"59.2826004028, -158.617996216",medium_airport,US,Aleknagik,WKK
1,Honiara International Airport,"-9.4280004501343, 160.05499267578",medium_airport,SB,Honiara,HIR
2,Hongyuan Airport,"32.53154, 102.35224",medium_airport,CN,Aba,AHJ
3,Nauru International Airport,"-0.547458, 166.919006",medium_airport,NR,Yaren District,INU
4,Alxa Left Banner Bayanhot Airport,"38.74831, 105.58858",medium_airport,CN,Bayanhot,AXF
...,...,...,...,...,...,...
4073,Zhoushuizi Airport,"38.9656982421875, 121.53900146484375",large_airport,CN,Dalian,DLC
4074,Tonghua Sanyuanpu Airport,"42.2538888889, 125.703333333",medium_airport,CN,Tonghua,TNH
4075,Taoxian Airport,"41.639801025390625, 123.48300170898438",large_airport,CN,Shenyang,SHE
4076,Yanji Chaoyangchuan Airport,"42.8828010559, 129.451004028",medium_airport,CN,Yanji,YNJ
4077,Yingkou Lanqi Airport,"40.542524, 122.3586",medium_airport,CN,Yingkou,YKH

In [35]:
# Remove all medium airports except where municipality is Joinville, Florianopolis or Navegantes

filtered_df = filtered_df[~((filtered_df['type'] == 'medium_airport') & (~filtered_df['municipality'].isin(['Joinville', 'Florianopolis', 'Navegantes'])))]

In [36]:
## Write to csv

filtered_df.to_csv('iata.csv', index=False)